@charset "utf-8";
/* CSS Document */

/* 43 bukkal */

#pd_43_db_txt {
	left: 553.85px;
}

#pd_43_b_txt {
	left: 566.2px;
}

#pd_43_mb_txt {
	left: 578.7px;
}

/* 43 Lingual */

#pd_43_dl_txt {
	left: 553.85px;
}

#pd_43_l_txt {
	left: 566.2px;
}

#pd_43_ml_txt {
	left: 578.7px;
}