@charset "utf-8";
/* CSS Document */

/* 47 bukkal */

#pd_47_db_txt {
	left: 355.85px;
}

#pd_47_b_txt {
	left: 373.3px;
}

#pd_47_mb_txt {
	left: 391.9px;
}

/* 47 Lingual */

#pd_47_dl_txt {
	left: 355.85px;
}

#pd_47_l_txt {
	left: 373.3px;
}

#pd_47_ml_txt {
	left: 391.9px;
}