@charset "utf-8";
/* CSS Document */

/* 41 bukkal */

#gm_41_db_txt {
	left: 634.35px;
}

#gm_41_b_txt {
	left: 647.1px;
}

#gm_41_mb_txt {
	left: 659.6px;
}

/* 41 Lingual */

#gm_41_dl_txt {
	left: 634.35px;
}

#gm_41_l_txt {
	left: 647.1px;
}

#gm_41_ml_txt {
	left: 659.6px;
}