@charset "utf-8";
/* CSS Document */

/* 48 bukkal */

#gm_48_db_txt {
	left: 292.45px;
}

#gm_48_b_txt {
	left: 309.9px;
}

#gm_48_mb_txt {
	left: 328.5px;
}

/* 48 Lingual */

#gm_48_dl_txt {
	left: 292.45px;
}

#gm_48_l_txt {
	left: 309.9px;
}

#gm_48_ml_txt {
	left: 328.5px;
}