@charset "utf-8";
/* CSS Document */

@import "./gm/1/18.css";
@import "./gm/1/17.css";
@import "./gm/1/16.css";
@import "./gm/1/15.css";
@import "./gm/1/14.css";
@import "./gm/1/13.css";
@import "./gm/1/12.css";
@import "./gm/1/11.css";

@import "./gm/2/21.css";
@import "./gm/2/22.css";
@import "./gm/2/23.css";
@import "./gm/2/24.css";
@import "./gm/2/25.css";
@import "./gm/2/26.css";
@import "./gm/2/27.css";
@import "./gm/2/28.css";

@import "./gm/3/38.css";
@import "./gm/3/37.css";
@import "./gm/3/36.css";
@import "./gm/3/35.css";
@import "./gm/3/34.css";
@import "./gm/3/33.css";
@import "./gm/3/32.css";
@import "./gm/3/31.css";

@import "./gm/4/41.css";
@import "./gm/4/42.css";
@import "./gm/4/43.css";
@import "./gm/4/44.css";
@import "./gm/4/45.css";
@import "./gm/4/46.css";
@import "./gm/4/47.css";
@import "./gm/4/48.css";

@import "./pd/1/18.css";
@import "./pd/1/17.css";
@import "./pd/1/16.css";
@import "./pd/1/15.css";
@import "./pd/1/14.css";
@import "./pd/1/13.css";
@import "./pd/1/12.css";
@import "./pd/1/11.css";

@import "./pd/2/21.css";
@import "./pd/2/22.css";
@import "./pd/2/23.css";
@import "./pd/2/24.css";
@import "./pd/2/25.css";
@import "./pd/2/26.css";
@import "./pd/2/27.css";
@import "./pd/2/28.css";

@import "./pd/3/38.css";
@import "./pd/3/37.css";
@import "./pd/3/36.css";
@import "./pd/3/35.css";
@import "./pd/3/34.css";
@import "./pd/3/33.css";
@import "./pd/3/32.css";
@import "./pd/3/31.css";

@import "./pd/4/41.css";
@import "./pd/4/42.css";
@import "./pd/4/43.css";
@import "./pd/4/44.css";
@import "./pd/4/45.css";
@import "./pd/4/46.css";
@import "./pd/4/47.css";
@import "./pd/4/48.css";

/* Positionen der Eingabefelder */

.input_pd {
	position: absolute;
	z-index: 70;
	width: 15.2px;
	height: 17px;
	border: none;
	font-family: "Arial Narrow", Sans-Serif;
    font-stretch: extra-condensed;
	font-size: 14px;
	text-align: center;
	padding: 0;
	}

.input_pd:focus {
	background-color: lightsteelblue;
    border-radius: 5px;
	}

.ok_bukk_pd_input input {
	top: 454px;
    background: transparent;
    outline: none;
}

.ok_pal_pd_input input {
	top: 828px;
    background: transparent;
    outline: none;
}

.uk_ling_pd_input input {
	top: 1067px;
    background: transparent;
    outline: none;
}

.uk_bukk_pd_input input {
	top: 1440px;
    background: transparent;
    outline: none;
}

.input_gm {
	position: absolute;
	z-index: 70;
	width: 15.2px;
	height: 17px;
	border: none;
	font-family: "Arial Narrow", Sans-Serif;
    font-stretch: extra-condensed;
	font-size: 14px;
	text-align: center;
	padding: 0;
}

.input_gm:focus {
	background-color: lightsteelblue;
    border-radius: 5px;
	}

.ok_bukk_gm_input input {
	top: 434px;
    background: transparent;
    outline: none;
}

.ok_pal_gm_input input {
	top: 808px;
    background: transparent;
    outline: none;
}

.uk_ling_gm_input input {
	top: 1047px;
    background: transparent;
    outline: none;
}

.uk_bukk_gm_input input {
	top: 1420px;
    background: transparent;
    outline: none;
}