@charset "utf-8";
/* CSS Document */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(128,128,128,0.25);
    animation: opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

#modal_qr {
    z-index: 1200;
}

.modal-content {
    font-family: Arial, Sans-Serif;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #505050;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close_button, .reset_camera_button, .play_pause_button, .render_ar_button, .download_gltf_button, .close_threejs_button {
	position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
	z-index: +100;
	width: 150px;
    /*height: 40px;*/
	background-color: #F9F9F9;
	font-family: Arial, Sans-Serif;
	font-size: 14px;
	border-radius: 5px;
    box-shadow: 3px 3px 5px #D2D2D2;
	cursor: pointer;
}

.close_button:hover, .reset_camera_button:hover, .play_pause_button:hover , .render_ar_button:hover , .download_gltf_button:hover , .close_threejs_button:hover {
	background-color: #E8E8E8;
}

.button-container {
    display: flex;
    justify-content: center; /* Zentriert die Buttons horizontal */
    align-items: center; /* Zentriert die Buttons vertikal */
}

p.manual-title {
    padding-left: 20px;
    padding-top: 40px;
    /*padding-bottom: 10px;*/
    font-size: 22px;
    text-align: left;
}

.modal_qr_images {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}