@charset "utf-8";
/* CSS Document */

/* 12 bukkal */

#pd_12_db_txt {
	left: 579.35px;
}

#pd_12_b_txt {
	left: 593.7px;
}

#pd_12_mb_txt {
	left: 607.7px;
}

/* 12 palatinal */

#pd_12_dp_txt {
	left: 579.35px;
}

#pd_12_p_txt {
	left: 593.7px;
}

#pd_12_mp_txt {
	left: 607.7px;
}