@charset "utf-8";
/* CSS Document */

/* 22 bukkal */

#pd_22_db_txt {
	left: 762.1px;
}

#pd_22_b_txt {
	left: 747.75px;
}

#pd_22_mb_txt {
	left: 733.95px;
}

/* 22 palatinal */

#pd_22_dp_txt {
	left: 762.1px;
}

#pd_22_p_txt {
	left: 747.75px;
}

#pd_22_mp_txt {
	left: 733.95px;
}