@charset "utf-8";
/* CSS Document */

/* 23 bukkal */

#pd_23_db_txt {
	left: 804.6px;
}

#pd_23_b_txt {
	left: 790.25px;
}

#pd_23_mb_txt {
	left: 776.45px;
}

/* 23 palatinal */

#pd_23_dp_txt {
	left: 804.6px;
}

#pd_23_p_txt {
	left: 790.25px;
}

#pd_23_mp_txt {
	left: 776.45px;
}