@charset "utf-8";
/* CSS Document */

/* 32 bukkal */

#gm_32_db_txt {
	left: 748.1px;
}

#gm_32_b_txt {
	left: 734.75px;
}

#gm_32_mb_txt {
	left: 721.95px;
}

/* 32 Lingual */

#gm_32_dl_txt {
	left: 748.1px;
}

#gm_32_l_txt {
	left: 734.75px;
}

#gm_32_ml_txt {
	left: 721.95px;
}