@charset "utf-8";
/* CSS Document */

/* 35 bukkal */

#gm_35_db_txt {
	left: 869.25px;
}

#gm_35_b_txt {
	left: 856.85px;
}

#gm_35_mb_txt {
	left: 843.9px;
}

/* 35 Lingual */

#gm_35_dl_txt {
	left: 869.25px;
}

#gm_35_l_txt {
	left: 856.85px;
}

#gm_35_ml_txt {
	left: 843.9px;
}