@charset "utf-8";
/* CSS Document */

/* 16 bukkal */

#gm_16_db_txt {
	left: 397.35px;
}

#gm_16_b_txt {
	left: 415.05px;
}

#gm_16_mb_txt {
	left: 433.15px;
}

/* 16 palatinal */

#gm_16_dp_txt {
	left: 397.35px;
}

#gm_16_p_txt {
	left: 415.05px;
}

#gm_16_mp_txt {
	left: 433.15px;
}