@charset "utf-8";
/* CSS Document */

/* 18 bukkal */

#gm_18_db_txt {
	left: 286.95px;
}

#gm_18_b_txt {
	left: 304.4px;
}

#gm_18_mb_txt {
	left: 323px;
}

/* 18 palatinal */

#gm_18_dp_txt {
	left: 286.95px;
}

#gm_18_p_txt {
	left: 304.4px;
}

#gm_18_mp_txt {
	left: 323px;
}