@charset "utf-8";
/* CSS Document */

/* 37 bukkal */

#pd_37_db_txt {
	left: 985.7px;
}

#pd_37_b_txt {
	left: 968.2px;
}

#pd_37_mb_txt {
	left: 950.15px;
}

/* 37 Lingual */

#pd_37_dl_txt {
	left: 985.7px;
}

#pd_37_l_txt {
	left: 968.2px;
}

#pd_37_ml_txt {
	left: 950.15px;
}